html {
    background-color: #6867ac;
    margin: 2px;
  }
  div {
    background-color: #7C99AC;
    padding:10px;
    padding-left:0px;
    margin-left:0px;
    
  }
  h1 {
    background-color: #FFFDA2;
    font-size: 50px;
    padding: 2px;
    color: #072227;
  }
  
  p {
    padding: 8px;
  
    background-color: #ffbcd1;
  }
  